<div class="row">
    <div class="col-12">
        {% for review in reviews %}
            <div class="row">
                <div class="col-12">
                    <h3 class="logo-font text-black">{{review.title}}</h3>
                    <p><small class="text-muted">By {{ review.user}} on {{review.date}}</small></p>
                    {% if request.user.is_superuser %}
                        <div class=" col-12 mt-3 mb-3 p-0 font-weight-bold">
                            <a class="text-info" href="">Edit</a> | 
                            <a class="text-danger" data-toggle="modal" data-target="#exampleModal">Delete</a>
                        </div>
                    {% endif %}
                    <hr class="w-50 mb-4">
                    <p>{{ review.content }}</p>
                </div>
            </div>
            {% include 'products/includes/modal.html' %}
        {% endfor %}
    </div>
</div>