<div class="row">
    <div class="col-12">
        {% if reviews %}
        {% for review in reviews %}
            <div class="row mb-3">
                <div class="col-10 offset-1 text-center">
                    <h3 class="logo-font text-black">{{review.title}}</h3>
                    <p><small class="text-muted">By {{ review.user}} on {{review.created_at}}</small></p>
                    {% if request.user.is_superuser %}
                        <div class=" col-12 mt-3 mb-3 p-0 font-weight-bold">
                            <a class="update-link" href="{% url 'edit_review' review.id %}">Edit</a> | 
                            <a class="text-danger" href="" data-toggle="modal" data-target="#reviewModal-{{ review.id }}">Delete</a>
                        </div>
                    {% endif %}
                    <hr class="w-50 mb-4">
                    <div class="rating mb-4">
                        {% for i in '12345'|make_list %}
                            {% if i|add:0 <= review.rating %}
                                <span>★</span>
                            {% else %}
                                <span>☆</span>
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                    <p>{{ review.content }}</p>
                    <hr class="w-50 mb-4">
                </div>
            </div>
            {% include 'reviews/includes/modal.html' %}
        {% endfor %}
        {% else %}
            <div class="row mb-3">
                <div class="col-10 offset-1 text-center">
                    <p><small class="text-muted">No reviews to currently show.</small></p>
                    <hr class="w-50 mb-4">
                </div>
            </div>
        {% endif %}
        <div class="col-12 mt-2 text-center mb-4">
            <a href="{% url 'add_review' product.id %}" class="btn btn-black rounded-0">
                <span class="icon">
                    <i class="fa-solid fa-plus"></i>
                </span>
                <span class="text-uppercase">Leave a review</span>
            </a>
        </div>
    </div>
</div>

