<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 text-right text-md-left mr-4" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="collectibles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collectibles
            </a>
            <div class="dropdown-menu border-0 text-right text-md-left mr-4" aria-labelledby="collectibles-link">
                <a href="{% url 'products' %}" class="dropdown-item">Statues</a>
                <a href="{% url 'products' %}" class="dropdown-item">Funkos</a>
                <a href="{% url 'products' %}" class="dropdown-item">Soft &amp; Plushies</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Collectibles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="comic-book-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Comic Books
            </a>
            <div class="dropdown-menu border-0 text-right text-md-left mr-4" aria-labelledby="comic-book-link">
                <a href="{% url 'products' %}" class="dropdown-item">Demon Slayer</a>
                <a href="{% url 'products' %}" class="dropdown-item">Attack on Titan</a>
                <a href="{% url 'products' %}" class="dropdown-item">Naruto</a>
                <a href="{% url 'products' %}" class="dropdown-item">Death Note</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Comic Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="gifts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gifts &amp; Home
            </a>
            <div class="dropdown-menu border-0 text-right text-md-left mr-4" aria-labelledby="gifts-link">
                <a href="{% url 'products' %}" class="dropdown-item">Hats</a>
                <a href="{% url 'products' %}" class="dropdown-item">Bags</a>
                <a href="{% url 'products' %}" class="dropdown-item">Mugs</a>
                <a href="{% url 'products' %}" class="dropdown-item">Calenders</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Gifts &amp; Home</a>
            </div>
        </li>
    </ul>
</div>