{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<h2 class="logo-font mb-4 mt-4 text-black text-center">{% trans "Change Password" %}</h2>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change text-black">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn-black mb-2" type="submit" name="action">{% trans "Change Password" %}</button>
</form>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('#div_id_oldpassword').prepend('<span class="password_icon_span_old"><i class="fa-solid fa-eye"></i></span>');
    $('#div_id_password1').prepend('<span class="password_icon_span1"><i class="fa-solid fa-eye"></i></span>');
    $('#div_id_password2').prepend('<span class="password_icon_span2"><i class="fa-solid fa-eye"></i></span>');
    $('.password_icon_span_old').click(function () {
        let passwordField = $('#id_oldpassword');
        let passwordIcon = $('.password_icon_span_old i');

        if (passwordField.prop('type') === 'password') {
            passwordField.prop('type', 'text');
            passwordIcon.removeClass('fa-eye').addClass('fa-eye-slash');
        } else {
            passwordField.prop('type', 'password');
            passwordIcon.removeClass('fa-eye-slash').addClass('fa-eye');
        }
    });
    $('.password_icon_span1').click(function () {
        let passwordField = $('#id_password1');
        let passwordIcon = $('.password_icon_span1 i');

        if (passwordField.prop('type') === 'password') {
            passwordField.prop('type', 'text');
            passwordIcon.removeClass('fa-eye').addClass('fa-eye-slash');
        } else {
            passwordField.prop('type', 'password');
            passwordIcon.removeClass('fa-eye-slash').addClass('fa-eye');
        }
    });
    $('.password_icon_span2').click(function () {
        let passwordField = $('#id_password2');
        let passwordIcon = $('.password_icon_span2 i');

        if (passwordField.prop('type') === 'password') {
            passwordField.prop('type', 'text');
            passwordIcon.removeClass('fa-eye').addClass('fa-eye-slash');
        } else {
            passwordField.prop('type', 'password');
            passwordIcon.removeClass('fa-eye-slash').addClass('fa-eye');
        }
    });
</script>
{% endblock %}