{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<h2 class="logo-font mb-4 mt-4 text-black text-center">{% trans "Sign Up" %}</h2>

<form class="signup text-black" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn-black mb-2" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

<p class="text-black">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
    in</a>.{% endblocktrans %}</p>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
  $('#div_id_password1').prepend('<span class="password_icon_span1"><i class="fa-solid fa-eye"></i></span>');
  $('#div_id_password2').prepend('<span class="password_icon_span2"><i class="fa-solid fa-eye"></i></span>');
  $('.password_icon_span1').click(function () {
        let passwordField = $('#id_password1');
        let passwordIcon = $('.password_icon_span1 i');

        if (passwordField.prop('type') === 'password') {
            passwordField.prop('type', 'text');
            passwordIcon.removeClass('fa-eye').addClass('fa-eye-slash');
        } else {
            passwordField.prop('type', 'password');
            passwordIcon.removeClass('fa-eye-slash').addClass('fa-eye');
        }
    });
    $('.password_icon_span2').click(function () {
        let passwordField = $('#id_password2');
        let passwordIcon = $('.password_icon_span2 i');

        if (passwordField.prop('type') === 'password') {
            passwordField.prop('type', 'text');
            passwordIcon.removeClass('fa-eye').addClass('fa-eye-slash');
        } else {
            passwordField.prop('type', 'password');
            passwordIcon.removeClass('fa-eye-slash').addClass('fa-eye');
        }
    });
</script>
{% endblock %}