{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Contact Us</h2>
                <p class="h5 text-muted">Send us a message and we will get back in touch with you as soon as possible.</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="" class="form mb-2">
                    {% csrf_token %}
                    {% for field in form %}
                            {{ field | as_crispy_field }}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'home' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Submit</button>
                    </div>
                </form>
            </div>    
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('select[name="reason"] option:first').attr('disabled', 'disabled');
        });
    </script>
{% endblock %}

